<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/why-it-matters/">Why It Matters</a></li>
        <li><a href="/principles/">Principles</a></li>
        <li><a href="/participate/">Participate</a></li>
      </ul>
    </nav>
  </div>
</header>
